@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
.con2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
}

.eyeTextC{
    width:330px;
    font-size: 17px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 1000;
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
}
.eyeTextC2{
    width:400px;
    font-size: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 31px;
    margin-top:40px;
    color: #393939;
}
.testUrl{
    font-size: 14px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 5px;
    color: #5167DB
    ;
}
.selection{
    display: flex;
    flex-direction: row;
    margin-top: 14%;
    margin-left: 20%;
}
.selectType {
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;
    width: 50%;
}
.selectTypeText{
    margin-bottom: 5px;
    margin-left: 8px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}
.type{
    margin: 7px;
    width: 60%;
    height: 40px;
    border: none;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    background-color: #ffffff; 
    color: #393939;
    border-radius: 5px; 
}
.selectLevelText{
    margin-bottom: 5px;
    margin-left: 7px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}
.level{
    margin: 7px;
    width: 50%;
    height: 40px;
    border: none;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    color: #393939; 
    border-radius: 5px; 
}
.selectLevel {
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;
    width: 48%;
}

.nextbtn{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 59.5%;
    height: 40px;
    border: none;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    background-color: #D9D9D9;
    color: #393939; 
    border-radius: 5px; 
}
