.section{
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: left;
}

.title{
    font-family: 'Denk One', woff2;
    position: absolute;
    top: 29px;
    left: 20px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
